.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
  color: red;
  background-color: black;
  width: 20%;
  list-style: none;
}
.ui-menu .ui-menu-item a{
    color:red;
}
.ui-menu .ui-menu-item a:hover{
    color:pink;
}
